{%- comment -%}
  Renders the country picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}

{%- liquid
  assign currencies = localization.available_countries | map: 'currency' | map: 'iso_code' | uniq
  assign popular_countries = localization.available_countries | where: 'popular?' | sort: 'name'

  assign show_country_filter = false
  if localization.available_countries.size > 9
    assign show_country_filter = true
  endif

  assign show_popular_countries = false
  if localization.available_countries.size > 9 and popular_countries.size > 1
    assign show_popular_countries = true
  endif

  assign show_currencies = false
  if currencies.size > 1
    assign show_currencies = true
  endif
%}

<div class="disclosure">
  <button
    type="button"
    class="disclosure__button localization-form__select localization-selector link link--text caption-large"
    aria-expanded="false"
    aria-controls="{{ localPosition }}-country-results"
    aria-describedby="{{ localPosition }}Label"
  >
    <span>
      {{- localization.country.name }} |
      {{ localization.country.currency.iso_code }}
      {{ localization.country.currency.symbol -}}
    </span>
    <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.93285 6.12075L8.8751 1.76022C9.09111 1.50635 9.09111 1.11808 8.8751 0.879151C8.65909 0.640218 8.30806 0.640218 8.07855 0.879151L4.52782 4.80662L0.977096 0.879151C0.761083 0.640218 0.396559 0.640218 0.180545 0.879151C-0.0354681 1.11808 -0.0354681 1.50635 0.180545 1.76022L4.1363 6.12075C4.35231 6.35968 4.70333 6.35968 4.93285 6.12075Z" fill="#112D4E"></path>
    </svg>
  </button>
  <div class="disclosure__list-wrapper country-selector" hidden>
    <div class="country-filter{% unless show_country_filter %} country-filter--no-padding{% endunless %}">
      {% if show_country_filter %}
        <div class="field">
          <input
            class="country-filter__input field__input"
            id="country-filter-input"
            type="search"
            name="country_filter"
            value=""
            placeholder="{{ 'localization.search' | t }}"
            role="combobox"
            aria-owns="country-results"
            aria-controls="country-results"
            aria-haspopup="listbox"
            aria-autocomplete="list"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
          >
          <label class="field__label" for="country-filter-input">{{ 'localization.search' | t }}</label>
          <button
            type="reset"
            class="country-filter__reset-button field__button hidden"
            aria-label="{{ 'general.search.reset' | t }}"
          >
            {{- 'icon-reset.svg' | inline_asset_content -}}
          </button>
          <div class="country-filter__search-icon field__button motion-reduce">
            {{- 'icon-search.svg' | inline_asset_content -}}
          </div>
        </div>
      {% endif %}
      <button
        class="country-selector__close-button button--small link"
        type="button"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        {{- 'icon-close.svg' | inline_asset_content -}}
      </button>
    </div>
    <div id="sr-country-search-results" class="visually-hidden" aria-live="polite"></div>
    <div
      class="disclosure__list country-selector__list{% if show_currencies %} country-selector__list--with-multiple-currencies{% endif %}"
      id="{{ localPosition }}-country-results"
    >
      {% if show_popular_countries %}
        <ul
          role="list"
          class="list-unstyled popular-countries"
          aria-label="{{ 'localization.popular_countries_regions' | t }}"
        >
          {%- for country in popular_countries -%}
            <li class="disclosure__item" tabindex="-1">
              <a
                class="link link--text disclosure__link caption-large focus-inset"
                href="#"
                {% if country.iso_code == localization.country.iso_code %}
                  aria-current="true"
                {% endif %}
                data-value="{{ country.iso_code }}"
                id="{{ country.name }}"
              >
                {% comment %}
                  <span
                    {% if country.iso_code != localization.country.iso_code %}
                      class="visibility-hidden"
                    {% endif %}
                  >
                    {{- 'icon-checkmark.svg' | inline_asset_content -}}
                  </span>
                {% endcomment %}
                <span class="country">{{- country.name }}</span>
                <span class="localization-form__currency motion-reduce{% unless show_currencies %} hidden{% endunless %}">
                  {{ country.currency.iso_code }}
                  {{ country.currency.symbol -}}
                </span>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {% endif %}
      <ul role="list" class="list-unstyled countries">
        {%- for country in localization.available_countries -%}
          <li class="disclosure__item" tabindex="-1">
            <a
              class="link link--text disclosure__link caption-large focus-inset"
              href="#"
              {% if country.iso_code == localization.country.iso_code %}
                aria-current="true"
              {% endif %}
              data-value="{{ country.iso_code }}"
              id="{{ country.name }}"
            >
              {% comment %}
                <span
                  {% if country.iso_code != localization.country.iso_code %}
                    class="visibility-hidden"
                  {% endif %}
                >
                  {{- 'icon-checkmark.svg' | inline_asset_content -}}
                </span>
              {% endcomment %}
              <span class="country">{{- country.name }}</span>
              <span class="localization-form__currency motion-reduce{% unless show_currencies %} hidden{% endunless %}">
                {{ country.currency.iso_code }}
                {{ country.currency.symbol -}}
              </span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
  <div class="country-selector__overlay"></div>
</div>
<input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
