{%- comment -%}
  Renders the language picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}
{% # theme-check-disable %}

{%- assign lang_code = localization.language.iso_code -%}
{%- case lang_code %}
  {% when 'en' %}
    {% assign flag_code = 'us' %}
  {% when 'de' %}
    {% assign flag_code = 'de' %}
  {% when 'fr' %}
    {% assign flag_code = 'fr' %}
  {% when 'es' %}
    {% assign flag_code = 'es' %}
  {% when 'ja' %}
    {% assign flag_code = 'jp' %}
  {% else %}
    {% assign flag_code = 'us' %}
{% endcase %}

<div class="disclosure">
  <button
    type="button"
    class="disclosure__button localization-form__select localization-selector link link--text caption-large"
    aria-expanded="false"
    aria-controls="{{ localPosition }}List"
    aria-describedby="{{ localPosition }}Label"
    aria-label="disclosure__button"
  >
    <span class="localization-flag-label">
      <img
        src="https://flagcdn.com/24x18/{{ flag_code }}.png"
        alt="{{ flag_code | upcase }} flag"
        width="24"
        height="18"
        loading="lazy"
        style="margin-right: 8px; vertical-align: middle;"
      >
      {{ localization.language.endonym_name | capitalize }}
    </span>
    <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.93285 6.12075L8.8751 1.76022C9.09111 1.50635 9.09111 1.11808 8.8751 0.879151C8.65909 0.640218 8.30806 0.640218 8.07855 0.879151L4.52782 4.80662L0.977096 0.879151C0.761083 0.640218 0.396559 0.640218 0.180545 0.879151C-0.0354681 1.11808 -0.0354681 1.50635 0.180545 1.76022L4.1363 6.12075C4.35231 6.35968 4.70333 6.35968 4.93285 6.12075Z" fill="#112D4E"/>
    </svg>
  </button>

  <div class="disclosure__list-wrapper language-selector" hidden>
    <ul id="{{ localPosition }}List" role="list" class="disclosure__list list-unstyled">
      {%- for language in localization.available_languages -%}
        {%- assign lang_code = language.iso_code -%}
        {%- case lang_code %}
          {% when 'en' %}
            {% assign flag_code = 'us' %}
          {% when 'de' %}
            {% assign flag_code = 'de' %}
          {% when 'fr' %}
            {% assign flag_code = 'fr' %}
          {% when 'es' %}
            {% assign flag_code = 'es' %}
          {% when 'ja' %}
            {% assign flag_code = 'jp' %}
          {% else %}
            {% assign flag_code = 'us' %}
        {% endcase %}

        <li class="disclosure__item" tabindex="-1">
          <a
            class="link link--text disclosure__link caption-large focus-inset"
            href="#"
            hreflang="{{ language.iso_code }}"
            lang="{{ language.iso_code }}"
            {% if language.iso_code == localization.language.iso_code %}
              aria-current="true"
            {% endif %}
            data-value="{{ language.iso_code }}"
          >
            {% comment %}
              <span
                {% if language.iso_code != localization.language.iso_code %}
                  class="visibility-hidden"
                {% endif %}
              >
                {{- 'icon-checkmark.svg' | inline_asset_content -}}
              </span>
            {% endcomment %}

            <span class="localization-flag-label">
              <img
                src="https://flagcdn.com/24x18/{{ flag_code }}.png"
                alt="{{ flag_code | upcase }} flag"
                width="auto"
                height="auto"
                loading="lazy"
              >
              {{ language.endonym_name | capitalize }}
            </span>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>

<input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
