<div class="main_ctm_blog_sorting">
  <div class="blog_title_bradcumb">
    <h1 class="title--primary{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ blog.title | escape }}
    </h1>
  </div>
  <div class="page_sorting-tag">
    {% assign rendered_tags_string = '' %}

    {% for block in section.blocks %}
      {% assign current_tag = block.settings.tag_name %}
      {% assign tag_handle = current_tag | handle %}

      {% unless rendered_tags_string contains tag_handle %}
        {% assign tag_found = false %}

        {% for article in blog.articles %}
          {% for tag in article.tags %}
            {% assign article_tag = tag | handle %}
            {% if article_tag == tag_handle %}
              {% assign tag_found = true %}
              {% break %}
            {% endif %}
          {% endfor %}
          {% if tag_found %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% if current_tag == 'All' %}
          {% assign rendered_tags_string = rendered_tags_string | append: tag_handle | append: ',' %}
          <span>
            <a href="{{ blog.url }}">{{ current_tag }}</a>
          </span>
        {% endif %}
        {% if tag_found %}
          {% assign rendered_tags_string = rendered_tags_string | append: tag_handle | append: ',' %}
          <span>
            <a href="{{ blog.url }}/tagged/{{ current_tag | handle }}">{{ current_tag }}</a>
          </span>
        {% endif %}
      {% endunless %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Blog Sorting with Title",
  "class": "blog_sorting_and_title",
  "settings": [],
  "blocks": [
    {
      "type": "blog_sorting",
      "name": "Sorting",
      "settings": [
        {
          "type": "text",
          "label": "Tag Name",
          "id": "tag_name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blog Sorting"
    }
  ]
}
{% endschema %}
