<div class="faq-contact-wrapper py-[30px] min-990:py-60">
  <div class="container_fluid">
    <div class="faq-contact-section">
      <div class="faq-contact-start flex flex-col min-990:flex-row min-990:items-end gap-x-[30px] min-1400:gap-x-[60px] gap-y-[30px]">
        <div class="faq-left min-990:pb-[20px] min-1400:pb-[37px] min-990:flex-[0_0_calc(100%_-_490px)] min-1200:flex-[0_0_calc(100%_-_551px)] min-1400:flex-[0_0_calc(100%_-_581px)]">
          <div class="pb-[30px] min-1400:pb-[44px]">
            {% if section.settings.faq_heading != blank %}
              <h2 class="main-section-title">{{ section.settings.faq_heading }}</h2>
            {% endif %}
            {% if section.settings.faq_subheading != blank %}
              <div class="mt-10">
                <p class="faq-subheading font-body font-normal text-16 leading-[137.5%] text-primary-black capitalize tracking-normal">
                  {{ section.settings.faq_subheading }}
                </p>
              </div>
            {% endif %}
          </div>
          <div class="faq-list">
            {% for block in section.blocks %}
              {% if block.settings.question != blank and block.settings.answer != blank %}
                <details class="faq-item py-[20px] min-1200:py-[28px] border-0 border-b-[1px] border-solid border-pale-grey first:border-t-[1px] relative">
                  <summary class="relative pr-[30px] font-body font-medium text-18 leading-[140%] text-primary-black capitalize tracking-normal">
                    {{ block.settings.question }}
                  </summary>
                  <div class="faq-answer font-body font-normal text-16 leading-125p text-primary-black tracking-normal pt-[16px]">
                    {{ block.settings.answer }}
                  </div>
                </details>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="faq-right min-990:flex-[0_0_460px] min-1200:flex-[0_0_521px]">
          <div class="faq-right-inside p-[20px] min-1400:px-[40px] min-1400:py-[66px] bg-[#F9F7F7] rounded-[25px]">
            {% if section.settings.contact_heading != blank %}
              <div>
                <h3 class="main-title-28">{{ section.settings.contact_heading }}</h3>
              </div>
            {% endif %}
            {% if section.settings.contact_text != blank %}
              <div class="mt-20 min-1200:mt-[28px]">
                <p class="contact-text font-body font-normal text-16 leading-[137.5%] text-primary-black tracking-normal">
                  {{ section.settings.contact_text }}
                </p>
              </div>
            {% endif %}
            {% if section.settings.contact_button_link != blank and section.settings.contact_button_label != blank %}
              <div class="mt-[20px] min-1400:mt-[40px] pt-[20px] min-1400:pt-[40px] border-t-[1px] border-solid border-pale-grey">
                <a
                  href="{{ section.settings.contact_button_link }}"
                  class="contact-button ctm-button button-with-arrow"
                >
                  {{ section.settings.contact_button_label }}
                  <svg
                    class="icon transition-all duration-300 ease-in-out"
                    width="10"
                    height="11"
                    viewBox="0 0 10 11"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M9.91988 10.1574L10 0.5C7.58106 0.523477 2.7615 0.556619 0.342494 0.580096L0.322628 1.7891C2.49837 1.76773 5.38677 1.74999 7.92773 1.72694L0 9.65453L0.845473 10.5L8.77321 2.57237L8.70443 10.1708L9.91988 10.1574Z" fill="white"></path>
                  </svg>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "FAQ With Contact Box",
  "tag": "section",
  "class": "faq-contact-section",
  "settings": [
    {
      "type": "text",
      "id": "faq_heading",
      "label": "FAQ Heading",
      "default": "FAQs"
    },
    {
      "type": "text",
      "id": "faq_subheading",
      "label": "Subheading",
      "default": "Shop Our Summer Trendy Collection."
    },
    {
      "type": "text",
      "id": "contact_heading",
      "label": "Contact Heading",
      "default": "Still Looking For an Answer?"
    },
    {
      "type": "textarea",
      "id": "contact_text",
      "label": "Contact Text",
      "default": "Shoot our team an email and we’ll get back to you ASAP (definitely within 24 hours)."
    },
    {
      "type": "url",
      "id": "contact_button_link",
      "label": "Contact Button Link"
    },
    {
      "type": "text",
      "id": "contact_button_label",
      "label": "Contact Button Label",
      "default": "Contact Us"
    }
  ],
  "blocks": [
    {
      "type": "faq_item",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "textarea",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "max_blocks": 8,
  "presets": [
    {
      "name": "FAQ With Contact Box",
      "category": "Custom"
    }
  ]
}
{% endschema %}
