{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- if section.settings.enable_shop_login_button == false -%}
  {%- assign hide_shop_login_button = true -%}
{%- endif -%}

<div class="customer login customer-common section-{{ section.id }}-padding">
  <div class="container_fluid">
    <div class="customer-common-inside">
      <h1 id="recover" tabindex="-1">
        {{ 'customer.recover_password.title' | t }}
      </h1>

      <div>
        <div class="max-w-[800px] mx-auto">
          <p>
            {{ 'customer.recover_password.subtext' | t }}
          </p>

          {%- form 'recover_customer_password' -%}
            {% assign recover_success = form.posted_successfully? %}
            <div class="field">
              <input
                type="email"
                value=""
                name="email"
                id="RecoverEmail"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="RecoverEmail-email-error"
                  autofocus
                {% endif %}
                placeholder="{{ 'customer.login_page.email' | t }}"
              >
              <label for="RecoverEmail">
                {{ 'customer.login_page.email' | t }}
              </label>
            </div>
            {%- if form.errors -%}
              <small id="RecoverEmail-email-error" class="form__message error-message-small !mt-4">
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{ form.errors.messages.form }}
              </small>
            {%- endif -%}

            <div class="customer-common-button">
              <button class="ctm-button button-with-arrow !mx-auto" aria-label="login">
                {{ 'customer.login_page.submit' | t }}
                <svg
                  class="icon transition-all duration-300 ease-in-out"
                  width="10"
                  height="11"
                  viewBox="0 0 10 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                      d="M9.91988 10.1574L10 0.5C7.58106 0.523477 2.7615 0.556619 0.342494 0.580096L0.322628 1.7891C2.49837 1.76773 5.38677 1.74999 7.92773 1.72694L0 9.65453L0.845473 10.5L8.77321 2.57237L8.70443 10.1708L9.91988 10.1574Z"
                      fill="white"
                  ></path>
                </svg>
              </button>
            </div>

            <div class="customer-common-link create-new-account-start">
              <a href="#login" class="!mx-auto">
                {{ 'customer.login_page.cancel' | t }}
              </a>
            </div>
          {%- endform -%}
        </div>
      </div>
      <h2 id="login" tabindex="-1" class="h1 customer-common-main-title main-title-36">
        {{ 'customer.login_page.title' | t }}
      </h2>
      <div class="ctm_login_image_main customer-common-image-start">
        <div class="ctm_login_image customer-common-image-left">
          <img
            src="{{ section.settings.login_image  | image_url: width: 600 }}"
            alt="{{ section.settings.login_image.alt | default: 'login_image' }}"
            loading="lazy"
            width="147"
            height="110"
          >
        </div>
        <div class="ctm_main_form_login customer-common-image-right">
          {%- if recover_success == true -%}
            <h3 class="form__message" tabindex="-1" autofocus>
              <span class="svg-wrapper">
                {{- 'icon-success.svg' | inline_asset_content -}}
              </span>
              {{ 'customer.recover_password.success' | t }}
            </h3>
          {%- endif -%}
          {%- form 'customer_login', novalidate: 'novalidate' -%}
            <div class="customer-common-inputs-start">
              {%- if form.errors -%}
                <h2 class="form__message error-message-big" tabindex="-1" autofocus>
                  <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
                  <span class="svg-wrapper">
                    {{- 'icon-error.svg' | inline_asset_content -}}
                  </span>
                  {{ 'templates.contact.form.error_heading' | t }}
                </h2>
                {{ form.errors | default_errors }}
              {%- endif -%}

              {%- if shop.features.login_with_shop_classic_customer_accounts? -%}
                <section name="sign-in-with-shop-provider">
                  {{ shop | login_button: hide_button: hide_shop_login_button }}

                  {%- unless hide_shop_login_button -%}
                    <p>
                      {{ 'customer.login_page.alternate_provider_separator' | t }}
                    </p>
                  {%- endunless -%}
                </section>
              {%- endif -%}

              <div class="field">
                <input
                  type="email"
                  name="customer[email]"
                  id="CustomerEmail"
                  autocomplete="email"
                  autocorrect="off"
                  autocapitalize="off"
                  {% if form.errors contains 'form' %}
                    aria-invalid="true"
                  {% endif %}
                  placeholder="{{ 'customer.login_page.email' | t }}"
                >
                <label for="CustomerEmail">
                  {{ 'customer.login_page.email' | t }}
                </label>
              </div>
              {%- if form.password_needed -%}
                <div class="field">
                  <input
                    type="password"
                    value=""
                    name="customer[password]"
                    id="CustomerPassword"
                    autocomplete="current-password"
                    {% if form.errors contains 'form' %}
                      aria-invalid="true"
                    {% endif %}
                    placeholder="{{ 'customer.login_page.password' | t }}"
                  >
                  <label for="CustomerPassword">
                    {{ 'customer.login_page.password' | t }}
                  </label>
                </div>
              {%- endif -%}
            </div>
            <div class="customer-common-link forgot-password-start">
              <a href="#recover"> forgot password? </a>
            </div>

            <div class="customer-common-button log-in-button">
              <button class="ctm-button button-with-arrow" aria-label="log in">
                Log in
                <svg
                  class="icon transition-all duration-300 ease-in-out"
                  width="10"
                  height="11"
                  viewBox="0 0 10 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                      d="M9.91988 10.1574L10 0.5C7.58106 0.523477 2.7615 0.556619 0.342494 0.580096L0.322628 1.7891C2.49837 1.76773 5.38677 1.74999 7.92773 1.72694L0 9.65453L0.845473 10.5L8.77321 2.57237L8.70443 10.1708L9.91988 10.1574Z"
                      fill="white"
                  ></path>
                </svg>
              </button>
            </div>

            <div class="customer-common-link create-new-account-start">
              <a href="{{ routes.account_register_url }}"> Create new account? </a>
            </div>
          {%- endform -%}
        </div>
      </div>

      {%- if shop.checkout.guest_login -%}
        <div>
          <hr>
          <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

          {%- form 'guest_login' -%}
            <button aria-label="guest login">
              {{ 'customer.login_page.guest_continue' | t }}
            </button>
          {%- endform -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_shop_login_button",
      "label": "t:sections.main-login.shop_login_button.enable",
      "default": true
    },
    {
      "type": "image_picker",
      "label": "Login Image",
      "id": "login_image"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
