{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="text-center section-{{ section.id }}-padding px-4">
  <div class=" flex flex-col gap-4">
    {% for block in section.blocks %}
      <div class="flex flex-wrap justify-center items-center text-center text-[22px] md:text-[28px] lg:text-[32px] font-semibold text-[#1D314F] leading-snug">
        {% if block.settings.pre_text %}
          <h2 class="h1 normal-case text-primary-blue font-normal xl:leading-60 max-xl:text-28 max-mdscreen6:text-24">
            {{ block.settings.pre_text }}
          </h2>
        {% endif %}

        {% if block.settings.image %}
          <span class="inline-block mx-12 rounded-full overflow-hidden mdscreen6:min-w-[158px] min-w-[120px] h-40 mdscreen6:h-[47px]">
            <img
              src="{{ block.settings.image | image_url: width: 300 }}"
              alt="icon"
              class="w-full h-full object-cover"
              loading="lazy"
              width="auto"
              height="auto"
            >
          </span>
        {% endif %}

        {% if block.settings.post_text %}
          <h2 class="h1 normal-case text-primary-blue font-normal xl:leading-52 max-xl:text-28 max-mdscreen6:text-24">
            {{ block.settings.post_text }}
          </h2>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Text Image Statements",
  "tag": "section",
  "class": "text-image-statements-section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "statement",
      "name": "Statement Block",
      "settings": [
        {
          "type": "text",
          "id": "pre_text",
          "label": "Text Before Image",
          "default": "Driven by"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "post_text",
          "label": "Text After Image",
          "default": "Wellness"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "presets": [
    {
      "name": "Text Image Statements",
      "blocks": [{ "type": "statement" }, { "type": "statement" }, { "type": "statement" }]
    }
  ]
}
{% endschema %}
